@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Roboto+Condensed:wght@300&display=swap');

:root{
    --primary-color: #023047;
    --secondary-color: #FB8500;
    --accent1-color: #FFB703;
    --accent2-color: #8ECAE6;

    --heading-font: 'Martian Mono';
    --paragraph-font:'Roboto Condensed';

    --nav-background-color:var(--secondary-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color)
}
/*This is a comment*/
body{
    font-family: var(--paragraph-font);
    background-color: white;
}

aside {
    background-color: whitesmoke;
    padding: 2px;
    margin: 15px;
    border: 10px solid rgba(216, 180, 19, 0.1);
}

.primary-color {
    font-style: italic;
    color: var(--primary-color);
}

.secondary-color {
    font-style:italic;
    color: var(--secondary-color);
}

.accent1-color {
    font-style:italic;
    color: var(--accent1-color);
}

.accent2-color {
    font-style:italic;
    color: var(--accent2-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--heading-font);
    color: var(--secondary-color)
}

header{
    padding: 20px;
    background-color: var(--accent2-color);
}

p{
    color: var(--primary-color)
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}