@import url('https://fonts.googleapis.com/css2?family=font-name&family=optional-2nd-font-name&display=swap');

:root{
    --primary-color: #023047;
    --secondary-color: #FB8500;
    --accent1-color: #FFB703;
    --accent2-color: #8ECAE6;

    --heading-font: '________', Martian Mono;
    --paragraph-font:'________',Roboto Condensed;

    --nav-background-color:var(--secondary-color);
    --nav-link-color:var(--primary-color);
    --nav-hover-link-color:var(--accent1-color);
    --nav-hover-background-color:var(--accent2-color)
}

body{
    f__:var(--paragraph-font);
    m__:var(--accent2-color);
    background-color: var(--accent2-color);
}

aside {
    background-color:var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--heading-font);
    color: var(--secondary-color)
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    color: var(--primary-color)
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-background-color);
    background-color: var(--nav-hover-background-color);
}